<!-- Checkbox đơn giản -->
<label class="checkbox-wrapper">
  <input type="checkbox" class="checkbox-input" />
  <span class="checkbox-box">
    <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
      <path d="M20 6 9 17l-5-5" />
    </svg>
  </span>
</label>

<!-- Checkbox có nhãn văn bản -->
<label class="checkbox-wrapper">
  <input type="checkbox" class="checkbox-input" />
  <span class="checkbox-box">
    <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
      <path d="M20 6 9 17l-5-5" />
    </svg>
  </span>
  <span class="checkbox-label-text">Tôi đồng ý với điều khoản</span>
</label>

<!-- Checkbox đã check sẵn -->
<label class="checkbox-wrapper">
  <input type="checkbox" class="checkbox-input" checked />
  <span class="checkbox-box">
    <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
      <path d="M20 6 9 17l-5-5" />
    </svg>
  </span>
  <span class="checkbox-label-text">Đã chọn sẵn</span>
</label>

<!-- Checkbox disabled -->
<label class="checkbox-wrapper checkbox-disabled">
  <input type="checkbox" class="checkbox-input" disabled />
  <span class="checkbox-box">
    <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
      <path d="M20 6 9 17l-5-5" />
    </svg>
  </span>
  <span class="checkbox-label-text">Vô hiệu hóa</span>
</label>